.gpt3__cta-container {
  display: flex;
  margin: 4rem 6rem;
  background: var(--gradient-bar);
  font-family: var(--font-family);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}
.gpt3__cta-container p {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}
.gpt3__cta-container h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;

  -moz-text-align-last: center;
  text-align-last: center;
}

.gpt3__container__ctaBTN {
}
.gpt3__container__ctaBTN button {
  border: none;
  border-radius: 40px;
  width: 189.14px;
  height: 59.4px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  transition: all 0.35s;
}
.gpt3__container__ctaBTN button:hover {
  color: black;
  background-color: #fff;
}
.gpt3__cta-container__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 950px) {
  .gpt3__cta-container {
    display: flex;
    flex-direction: column;
    margin: 4rem 6rem;
  }

  .gpt3__cta-container__text {
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__possiblities {
    margin: 4rem 2rem;
  }
  .gpt3__cta-container {
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .gpt3__cta-container__text {
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .gpt3__cta-container__text {
    padding: 0.5em;
  }
  .gpt3__cta-container__text h2 {
    font-size: 18px;
  }
  .gpt3__container__ctaBTN button {
    border-radius: 40px;
    width: 130px;
    height: 50px;

    background-color: black;

    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
  }
}
